.listItem {
    position: relative;
    color: #666;
    background: #e6f1f5;
    -webkit-transform: translateX(0px);
}
.listItem:nth-of-type(2n){
    background-color: #e9fefc;
}
.flexFather{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flexSon1{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: left;
}
.flexSon2{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: right;
}
.am-modal-content .am-modal-footer{
    padding-bottom: 0 !important;
}
.am-modal-content .am-modal-footer .am-modal-button-group-h{
    padding: 0 !important;
    border-top: none !important;
}
.am-modal-button-group-h .am-modal-button{
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 !important;
    -webkit-flex: 1 !important;
    flex: 1 !important;
    height: 1rem !important;
    margin:0 !important;
    padding:0 !important;
    background: #1aad19 !important;
    color: #fff !important;
    font-size: 0.36rem !important;
}
.am-modal-button-group-h .am-modal-button:first-child{
    background: #ddd !important;
    color: #666 !important;
}

.CellYn .am-modal-button-group-v .am-modal-button{
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 !important;
    -webkit-flex: 1 !important;
    flex: 1 !important;
    height: 1rem !important;
    margin:0 !important;
    padding:0 !important;
    background: #1aad19 !important;
    color: #fff !important;
    font-size: 0.36rem !important;
}
.ModalTopStyle{
    top: 0.5rem;
    -webkit-box-align: start !important;
    -webkit-align-items: flex-start !important;
    align-items: flex-start !important;
}